:root {
  --application-background: #fcfffc;
  /* Stock Allocation  */

  /* --backgroundt:#E3EFE7; */
  /* Stock Allocation  */

  /* --backgroundt:#E3EFE7; */
  --green: #1b6b13;
  --palegreen: #e3efe7;
  --grey1: #0f0f0f;
  --grey2: #d9d9d9;
  --status-hold: #cc8400;
  --approved: #28a745;
  --status-cancelled: #dc3545;
  --status-rejected: #a50f1d;
  --text-color: #ffffff;

  --tableRowSelect: rgb(227, 239, 231);

  --text-primary: var(--green);
  --disable: #cccccc;
  --text-white: var(--background);
  --text-dark: var(--black);
  --text-warning: var(--red);

  --primary: var(--green);
  --text-primary-hover: var(--palegreen);
  --primary-hover: var(--green);
  --secondary: var(--grey2);
  --secondary-hover: var(--grey);
  --danger: var(--red);
  --danger-hover: var(--orange);
  --warning: var(--lightred);
  --warning-hover: var(--brick);
  --dark: var(--black);
  --info: var(--darkskyblue);
  --info-hover: var(--skyblue);
  --midviolet: var(--blush);
  --semiviolet: var(--periwinkle);
  --btngroup-primary: #f8f9ff;
  --btngroup-text-primary: #0f0f0f;
  --btngroup-primary-hover: #ededf6;
  --btngroup-text-primary-hover: #4f54a4;

  --stockLightGrey: var(--lightgrey);
  --btngroup-primary: #ffffff;
  --btngroup-text-primary: #0f0f0f;
  --btngroup-primary-hover: #e3efe7;
  --btngroup-text-primary-hover: var(--primary);
  /* --lightviolet:var(--lightviolet);  */
}
